@model Perpustakaan.Models.Peminjaman

@{
    ViewBag.Title = "Edit Data Peminjaman";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Peminjaman</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDPeminjaman)
        @Html.HiddenFor(model => model.IDUser)

        <div class="form-group">
            @Html.LabelFor(model => model.IDBook, "IDBook", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDBook", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDBook, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Pengarang", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Pengarang", null, htmlAttributes: new { @class = "form-control", @disabled = true })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("JenisBuku", "Judul Buku", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("JenisBuku", null, htmlAttributes: new { @class = "form-control", @disabled = true })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("HargaSewa", "Harga Sewa per Hari", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("HargaSewa", null, htmlAttributes: new { @class = "form-control", @disabled = true })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TanggalMulai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TanggalMulai, new { htmlAttributes = new { @class = "form-control date-picker" } })
                @Html.ValidationMessageFor(model => model.TanggalMulai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TanggalSelesai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TanggalSelesai, new { htmlAttributes = new { @class = "form-control date-picker" } })
                @Html.ValidationMessageFor(model => model.TanggalSelesai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <!-- jQuery UI CSS Reference -->
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.min.css")" rel="stylesheet" />
    <!-- Required jQuery and jQuery UI Javascript references -->
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>

    <!-- Code to wire up DatePicker -->
    <script type="text/javascript">
        $(function () {
            // This will make every element with the class "date-picker" into a DatePicker element
            $('.date-picker').datepicker({
                dateFormat: "yy-mm-dd"
            });
        });

        $(function () {
            $("select#IDBook").change(function () {
                PostGetDetailsBukuJson();
            });
        });

        $(document).ready(function () {
            PostGetDetailsBukuJson();
        });

        function PostGetDetailsBukuJson() {
            let IDBook = $("select#IDBook").val();

            $.post("@Url.Action("DetailsBukuJson", "Peminjaman")", { id: IDBook }, function (data, status) {
                $("input#Pengarang").val(data['Pengarang']);
                $("input#JenisBuku").val(data['JenisBuku']);
                $("input#HargaSewa").val(data['HargaSewa']);
            });
        }
    </script>
}
