@model IEnumerable<Perpustakaan.Models.Peminjaman>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.NamaUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Buku.JudulBuku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TanggalMulai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TanggalSelesai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.NamaUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Buku.JudulBuku)
        </td>
        <td>
            @item.TanggalMulai.ToString("yyyy-MM-dd")
        </td>
        <td>
            @item.TanggalSelesai.ToString("yyyy-MM-dd")
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDPeminjaman }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDPeminjaman }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDPeminjaman })
        </td>
    </tr>
}

</table>
